.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache

.venv
venv
env

node_modules
**/node_modules
**/.ms-playwright

.idea
.vscode
.DS_Store

logs
data
tmp
.cache
dist
build

*.log
*.sqlite
*.db
