fastapi
uvicorn[standard]
pydantic
requests>=2.32.5
urllib3>=2.5.0
beautifulsoup4>=4.13.5
lxml
httpx
jinja2
celery
redis
sqlalchemy
psycopg2-binary
pyyaml
python-dotenv
python-json-logger
python-multipart>=0.0.20
pydantic>=2.12.3