fastapi
uvicorn[standard]
pydantic
requests
beautifulsoup4
lxml
httpx
jinja2
celery
redis
sqlalchemy
psycopg2-binary
pyyaml
python-dotenv
python-json-logger
python-multipart==0.0.20
playwright~=1.55.0